<div id="create-ingredient-wrapper">
  <div id="behavioural-message">CREATE INGREDIENT</div>

  <div id="create-ingredient-panel">
    <button (click)="changeMessage()">Change Message</button>
  </div>

  <form id="create-ingredient-form" [formGroup]="myForm" (ngSubmit)="submitForm()">
    <label>
      Name:
      <input type="text" formControlName="name">
    </label>
    <div *ngIf="!(nameValid$ | async) && myForm.get('name')?.touched">
      Name is required and must be at least 3 characters.
    </div>

    <label>
      Weight:
      <input type="text" formControlName="weight">
    </label>
    <div *ngIf="!(weightValid$ | async) && myForm.get('weight')?.touched">
      Enter a valid weight.
    </div>

    <button type="submit" [disabled]="!(formValid$ | async)">Submit</button>
  </form>
</div>
