<div id="ingredient-wrapper">

  <div id="ingredient-list-menu">


    <div id="ingredient-list-panel">
      <button (click)="changeBehaviouralMessage()">Change Behavioral Message</button>
      <button (click)="changeReplayMessages()">Change Replay Message</button>
      <button (click)="callChildMethod()">Call Child Method</button>
      <button (click)="changeChildMessage()">Change Child Message</button>
    </div>
  </div>


  <div id="ingredients-added-list">
    ADDED INGREDIENTS:
    @for ( addedIngredient of addedIngredients; track addedIngredient){
      <ul>
        <li>{{ addedIngredient.name | capitalize }}</li>
      </ul>
    }
  </div>

  <div id="ingredients-grid-list">

    @for ( ingredient of ingredients; track ingredient){
      <ingredient-component
        [ingredient]="ingredient"
        (ingredientAdded)="receivedIngredients($event)">
        <p>This is content from ng-container</p>
      </ingredient-component>
    }
  </div>
</div>

